header.bs-docs-nav.navbar.navbar-static-top#top
    div.container
        div.navbar-header
            button.collapsed.navbar-toggle(aria-controls="bs-navbar", aria-expanded="false",
            data-target="#bs-narbar", data-toggle="collapse", type="button")
                span.sr-only
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/").link_header Home
        nav.collapse.navbar-collapse#bs-navbar
            ul.nav.navbar-nav
                li.active
                    a(href="/user/all").link_header Users
                li
                    a(href="").link_header NOT_SET
